.input {
  display: flex;
  gap: 16px;
  align-items: center;
  width: 384px;
  height: 64px;
  padding-left: 16px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: #ffffff;
  border: 2px solid #475069;
  border-radius: 12px;
  box-sizing: border-box;
  background-color: transparent;
}

.input.input__invalid {
  color: red;
  border: 2px solid red;
}


.input:focus {
  outline: none;
  border-color: #424b66;
}

.input::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: #475069;
}

.input-login {
  padding-left: 16px;
}