.button {
  display: flex;
  height: 56px;
  padding-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 1.2;
  color: #ffffff;
  background-color: #7B6EF6;
  border: 2px solid #7B6EF6;
  border-radius: 12px;
  cursor: pointer;
}

.button.disabled {
  background-color: #C4C4C4;
  opacity: 0.5;
}

.button-big {
  max-width: 201px;
  min-height: 56px;
}