.embla {
    position: relative;
    overflow: hidden;
    max-width: 1160px;
    margin-top: 80px;
    padding: 12px;
}

.embla__container {
    display: flex;
    flex-wrap: nowrap;
    gap: 12px;
}

.embla__slide {
    background-color: transparent;
}

.embla__btn {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    min-height: 85px;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transform: translateY(-50%);
    background-color: #20283E;
    border-radius: 8px;
}

.embla__btn:hover {
    background-color: #4a5779;
}

.embla__btn svg {
    font-size: 32px;
    line-height: 38px;
}

.embla__prev {
    left: 0;
}

.embla__next {
    right: 0;
}