.embla {
    position: relative;
    overflow: hidden;
    margin-top: 80px;
    padding: 12px;
}

.embla__container {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px
}

.embla__slide {
    background-color: transparent;
}

.embla__btn {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    min-height: 85px;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transform: translateY(-50%);
    background-color: #20283E;
    border-radius: 8px;
}

.embla__btn img {
    color: #ffffff;
}

.embla__prev {
    left: 0;
}

.embla__next {
    right: 0;
}