.about-page__promo {
    margin-bottom: 48px;
}

.about-page__subscription {
    margin-bottom: 48px;
}

.about-page__trends {
    margin-bottom: 48px;
}

.about-page__only {
    margin-bottom: 48px;
}