.search-input {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 328px;
  height: 56px;
  border: 2px solid #475069;
  border-radius: 12px;
}

.search-input input {
  min-width: 328px;
  margin: 0;
  padding: 0;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 56px;
  border: none;
  outline: none;
  background-color: transparent;
}

.search-input input::placeholder {
  font-size: 14px;
  line-height: 16px;
  color: #475069;
}

.search-input::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 18px;
  width: 24px;
  height: 24px;
  background-image: url("../../assets/search-normal.svg");
  transform: translateY(-50%);
}