.header {
  margin-bottom: 80px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header__nav {
  display: flex;
  gap: 1rem;
}

.header__list {
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}