.embla {
    overflow: hidden;
    min-height: 328px;
    margin-top: 80px;
    border: 2px solid #7B6EF6;
    border-radius: 8px;
}

.embla__container {
    display: flex;
}

.embla__slide {
    flex: 0 0 100%;
    min-height: 328px;
    min-width: 50%;
    background-color: plum;
}

.embla__slide:nth-child(2) {
    background-color: tomato;
}

.embla__slide:nth-child(3) {
    background-color: turquoise;
}