.favorites-button {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
  margin-top: 16px;
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.favorites-button p {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  color: #7B6EF6;
}

.favorites-button p.active {
  color: #37D8A7;
}