.movie-page-container {
    max-width: 1050px;
    margin: 0 auto;
}

.movie-page-wrapper {
    display: flex;
    gap: 80px;
}

.movie-page-header {
    margin-bottom: 80px;
    padding: 40px;
    background-color: #20283E;
    border-radius: 24px;
}

.movie-page-image-box {
    width: 50%;
    background-color: tomato;
}

.movie-page-text-box {
    width: 50%;
}

.movie-page-link {
    display: block;
    margin-bottom: 22px;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #fff;
}