body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  background-color: #121829;

  background-image: url("./background.svg");
  background-size: 100%;
  background-position: center 91px;
  background-repeat: no-repeat;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* .top {
  margin-bottom: 80px;
} */

.left-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 588px;
  margin-bottom: 80px;
}

.left-box-bottom {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.left-box-bottom form {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pulse {
  animation: pulse 2.5s ease-in-out 0.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}