.films-list {
  display: flex;
  column-gap: 24px;
  row-gap: 16px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.films-list-item {
  position: relative;
  padding: 8px;
  background-color: #20283E;
  border-radius: 12px;
}

.films-rating-box {
  position: absolute;
  top: 14px;
  left: 14px;
}